<!DOCTYPE html>
<html>
<head>
  <title>ImpactDatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if @all_countries != nil %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Show All", impacts_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @all_continents.each do |c| %>
                <li><%= link_to c.continent, impacts_path(continent: c.continent) %></li>
              <% end %>              
              <li role="separator" class="divider"></li>
              <% @all_countries.each do |c| %>
                <li><%= link_to c.country, impacts_path(country: c.country) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
    <% end %>

    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>">
 </script>

</body>
</html>
